<% for column in HeimdallContentTarget.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @heimdall_content_target.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @heimdall_content_target %> |
<%= link_to 'Back', :action => 'list' %>
