<%=t :password_reset_email_1%><br>
<br>
<%=t :password_reset_email_2%><br>
<br>
<a href="<%=@url%>"><%=@url%></a><br>
<br>
<br>
<%=t :password_reset_email_3%>,<br>
Streamburst<br>
<br>
support@streamburst.tv
