        Dear <%= @user.first_name %> <%= @user.last_name %>,<br>
        <br>
        Thank you for signing up to the Streamburst DVM Affiliate
        Program. Below is a copy of the Terms and Conditions for
        the service.<br>
        <br>
        To manage your DVMs you can visit your DVM homepage at
        Streamburst by copying the URL below into your browser:<br>
        <% if RAILS_ENV=="production" %>
			http://streamburst.tv/dvm/home
        <% else %>
			http://app2.streamburst.net:3000/dvm/home
        <% end %>
		<br><br>
		If you have a Facebook account you can install the DVM managment 
		application and sell downloads from your Facebook profile. Visit the 
		URL below to install the Facebook application:<br>
		http://apps.facebook.com/dvm_app
		<br><br>
		If you have a Bebo account you can install the DVM managment 
		application and sell downloads from your Bebo profile. Visit the 
		URL below to install the Bebo application:<br>
		http://apps.bebo.com/dvm
		<br><br>
        If you have any problems please contact
        support@streamburst.tv and we will respond promptly.

        <p>Enjoy,<br>
         Streamburst<br>
        support@streamburst.tv<br>
        <br>
        - - - - - - -<br>
        Streamburst DVM Affiliate Program Terms and Conditions<br>
        <br>
        </p>

         <p class="P2">1.    By using Streamburst Limited's
        ("Streamburst") DVM(s), you agree to be bound by these
        terms.  </p>

        <p class="Standard">  </p>

        <p class="Standard"><span class="T2">2.    You are not
        allowed to associate our Digital Vending Machines ("DVM(s))
        with any unlawful material or to use the DVM(s)
        if Streamburst considers you, your use or continued use of
        the DVM(s) to bring Streamburst or its licensors into
        disrepute.</span></p>

        <p class="Standard">  </p>

        <p class="P2">3.    For the avoidance of doubt, Streamburst
        has the right without liability to deactivate your use of
        the DVM(s) at any time and without notice. </p>

        <p class="Standard">  </p>

        <p class="P2">4.    Streamburst makes no guarantee about
        the level of revenue (if any) you will receive in
        connection with your use of the DVM(s). </p>

        <p class="Standard">  </p>

        <p class="P2">5.    You agree not to amend, adapt, change
        or copy the DVM(s). The copyright in the DVM(s) is owned by
        Streamburst and its licensors. </p>

        <p class="Standard">  </p>

        <p class="P2">6.    The DVM(s) and content are provided on
        an "AS IS" and "AS AVAILABLE" basis and Streamburst gives
        no guarantees that that they will be available at all times
        or without error or delay or that the Streamburst website,
        the content or the server that makes it available will be
        free of defects. </p>

        <p class="Standard">  </p>

        <p class="P2">7    The content contains security technology
        and may carry a transaction fingerprint/watermark which
        cannot be removed and you hereby agree that you will not
        attempt to or to assist any other person to remove or
        otherwise alter or interfere with such security technology
        and fingerprint/watermark and authorise the disclosure by
        Streamburst to third parties of any information Streamburst
        considers appropriate for the purpose of detecting and
        taking action against copyright infringements including any
        information concerning the use by you of the DVM(s).<br>
        <br>
        8. Streamburst is committed to safeguarding your privacy
        and will comply with all applicable data protection and
        similar legislation when collecting and using personal
        information about you via the Streamburst website, the
        DVM(s) and the Streamburst service. We are committed to
        responsible data management and subscribe to the principals
        of the data protection legislation in the United Kingdom.
        We are committed to maintaining the privacy of our users
        and maintaining the security of any personal information
        received from you. If you register for any of our services
        you will be asked to provide basic personal information.
        The information provided by you is not available for sale
        or use by third parties. The information is used solely for
        notifying you of changes or updates to the services.</p>

        <p class="Standard"> </p>

        <p class="P4"><span class="T3">9.</span><span class=
        "T4">   </span> <span class="T1">Subject to section 10
        below, Streamburst does not accept any liability (whether
        such liability arises due to negligence, breach of
        contract, misrepresentation or for any other reason) for
        any of the following:</span></p>

        <p class="P9"> </p>

        <p class="P12">(i)        loss of profit or sales;</p>

        <p class="P12">(ii)        loss of opportunity;</p>

        <p class="P12">(iii)        loss of turnover;</p>

        <p class="P12">(iv)        loss of use of any hardware,
        software or data;</p>

        <p class="P12">(v)        loss of or damage to
        business;</p>

        <p class="P12">(vi)        indirect, special or
        consequential loss or damage;</p>

        <p class="P13"> </p>

        <p class="P7">and for the purposes of this clause the term
        "loss" includes a partial loss or reduction in value as
        well as a complete or total loss.  </p>

        <p class="P5"> </p>

        <p class="P10"><span class="T3">10.</span><span class=
        "T4">             </span> <span class=
        "T1">Streamburst&rsquo;s liability:</span></p>

        <p class="P5"> </p>

        <p class="P14">(i)        for death or personal injury
        caused by that party's negligence or the negligence of that
        party's employees or agents;</p>

        <p class="P14">(ii)        for breach of any condition as
        to title or quiet enjoyment implied by section 12 Sale of
        Goods Act 1979 or section 2 Supply of Goods and Services
        Act 1982;</p>

        <p class="P12">(iii)        for fraudulent
        misrepresentation;</p>

        <p class="P11"><span class="T1">(iv)        for misuse of
        confidential information; or</span></p>

        <p class="P14">(v)        for any liability which cannot be
        excluded or limited by applicable law,</p>

        <p class="P6"><span class="T1">is excluded or limited by
        these terms, even if any other term of these terms would
        otherwise suggest that this might be the case.</span></p>

        <p class="P1"> </p>

        <p class="P2">11. Affiliate percent is calculated based on
        the full retail price excluding VAT</p>

        <p class="P1"> </p>
        12. You are paid monthly using Paypal Mass Payments,
        minimum payment amount is $1 and there is a 2% money
        transfer charge with a $1 cap.<br>
