<span class="sub-box-button">
    <%= link_to(image_localized_tag("button_backToDownloads_1.png", :border => 0, :alt => t(:Back_to_downloads)), :action => :show_downloads, :downloads_key => @downloads_key) %>
</span>
