<span class="sub-box-button">
  <%= link_to( image_localized_tag("button_cancel_1.png", :border => 0, :alt => t(:Cancel)), :action => :cancel_video_preparation_job, :job_key => @job_key ) %>
</span>
