  <table height="122px">
  <tr>
  <td colspan="2">
  <%=t :show_downloads_info_1_welcome%>:<p>
  </td>
  <tr>
  <td valign="middle" style="text-align: center">
     <a href="http://www.freedownloadmanager.org/download.htm" target="_blank"><img src="/images/get_fdm.png" alt="Free Download Manager" padding="4" border="0"></a><br>
     <small><%=t :Windows_only%></small>
  </td>
  <td valign="middle" style="text-align: center">
    <a href="http://www.downthemall.net/" target="_blank"><img src="/images/get_downthemall.png" alt="DownThemAll" padding="4" border="0"></a><br>
    <small><%=t :firefox_plugin_info%></small>
  </td>
  </tr>
  <tr>
  <td colspan="2">
     <%=t :show_downloads_info_2%>
  </td>
  </tr>
  </table>
