<% for column in Download.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @download.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @download %> |
<%= link_to 'Back', :action => 'list' %>
