<% for column in BrandCategory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @brand_category.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @brand_category %> |
<%= link_to 'Back', :action => 'list' %>
