<% for column in Bid.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bids.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bids %> |
<%= link_to 'Back', :action => 'list' %>
