<br>
<div id="forms">
    <table class="sub-header">
        <tr>
            <td>
            	<br/>
                <span class="sub-header-txt"><%=t :Forgotten_Password %></span>
            </td>
        </tr>
    </table>
    <% form_for :user do |form| %>
    <table class="sub-box">
        <tr>
            <td>
                <span class="sub-box-txt">
                    <table width="450">
                        <tr>
                            <td width="50%">
                                <b>
                                    <label for="email">
                                        <%=t :Enter_email_address %>:
                                    </label>
                                </b>
                            </td>
                            <td width="50%" align="left">
                                <b><input id="user_email" name="user[email]" size="30" type="text" value="" /></b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td align="left">
                                <%= image_localized_submit_tag("button_submit_1.png", :border => 0, :alt => t(:Submit)) -%>
                            </td>
                        </tr>
                    </table>
                </span>
            </td>
        </tr>
    </table>
    <% end %>
</div>
