<% for column in Format.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @format.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @format %> |
<%= link_to 'Back', :action => 'list' %>
