<table width="740" height="600" valign="top" align="center" style="color: #fff;vertical-align:top;text-align:center"><tr valign="top"><td align="center">
      <br>
      <%=t :streamburst_website_closed_1%> <br>
      <%=t :streamburst_website_closed_2%>
</td></tr></table>
