<% for column in Advertisement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @advertisement.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @advertisement %> |
<%= link_to 'Back', :action => 'list' %>
