<div style="background:#ffffff;padding-top:2px;padding-bottom:2px;width:100%;height:100%;">
<center>
  <sn:swf swfbgcolor="000000" imgstyle="border-width:3px; border-color:black;" swfsrc='http://streamburst.tv/production/dvm/dvmSignup.swf' sbSessionId='#{session.session_id}' waitforclick='false' align='center' width='600' height='600' />
</center>
</div>
