<center>
    <br>
    <script type="text/javascript">var FO2 = {
            movie: "https://streamburst.tv/production/dvm/dvmSignup.swf",
            width: "600",
            height: "600",
            majorversion: "8",
            build: "0",
            wmode: "transparent"
        };
        UFO.create(FO2, "dvm_signup");
    </script>
    <div id="dvm_signup">
    </div>
</center>
<br>
