<%= error_messages_for 'help' %>

<!--[form:help]-->
<p><label for="help_title">Help Title</label><br/>
<%= text_field 'help', 'title', "size" => 50 %></p>

<p><label for="help_text">Text</label><br/>
<%= text_area 'help', 'text' %></p>
<!--[eoform:help]-->
