<%= error_messages_for 'right' %>

<!--[form:right]-->
<p><label for="right_name">Name</label><br/>
<%= text_field 'right', 'name'  %></p>

<p><label for="right_controller">Controller</label><br/>
<%= text_field 'right', 'controller'  %></p>

<p><label for="right_action">Action</label><br/>
<%= text_field 'right', 'action'  %></p>
<!--[eoform:right]-->

