<% for column in Right.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @right.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @right %> |
<%= link_to 'Back', :action => 'list' %>
