<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<HEAD>
<META http-equiv=Content-Type content="text/html; charset=us-ascii">
<META content="Microsoft FrontPage 5.0" name=GENERATOR>
<style type="text/css">

body {
	background-color: #2e2c3a;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #44add3;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	background-color: #01103B;
	background-position: right;
	margin: 0px;
}

.introText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #e1e9fa;
	background-color: #304062;
	background-position: right;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #15234c;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}

img {
	border: 1px solid #01103B;
}

p {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.contentBG {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #15234c;
	background-color: #ffffff;
	background-image: url(http://www.streamburst.co.uk/images/newsletter/SB_BG.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}

</style>
</head>
<body>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td bgcolor="01103b"><img src="http://www.streamburst.co.uk/images/newsletter/spacer.gif" width="25" height="25"></td>
    <td width="100%" bgcolor="01103b">&nbsp;</td>
    <td bgcolor="01103b"><img src="http://www.streamburst.co.uk/images/newsletter/spacer.gif" width="25" height="25"></td>
  </tr>
  <tr>
    <td bgcolor="01103b">&nbsp;</td>
    <td bgcolor="01103b"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td rowspan="2"><img src="http://www.streamburst.co.uk/images/newsletter/SB_Logo.jpg" alt="Streamburst" width="183" height="75" longdesc="http://www.streamburst.co.uk"></td>
        <td height="20" align="right" valign="bottom"><h1>newsletter :: 001</h1></td>
      </tr>
      <tr>
        <td align="right" valign="bottom" class="style1"><a href="http://www.streamburst.co.uk">www.streamburst.co.uk</a></td>
      </tr>
    </table></td>
    <td bgcolor="01103b">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="01103b">&nbsp;</td>
    <td bgcolor="01103b">&nbsp;</td>
    <td bgcolor="01103b">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="ffffff" class="introText">&nbsp;</td>
    <td bgcolor="ffffff" class ="introText">Dear <%= @user.first_name %> <%= @user.last_name %>,<br/>
    <br/> This is the first Streamburst newsletter and sent to you as a registered user of our service.  
    If you would like to unsubscribe please reply to this email with the word "unsubscribe" in the body of the email.<br/> 
    <br/>We would like to let you know about some of the great content that Streamburst is currently distributing.  
    We will give details of forthcoming store and channel launches in future Newsletter mailouts.
    There will also be promotions and special offers exclusive to Newsletter subscribers!  Watch this space...<br/>
    <br/>Warm Regards,<br/>
    Róbert Viðar Bjarnason<br/>
    President, Streamburst Ltd<br/>
    <br/>
    <a href="robert@streamburst.co.uk">robert@streamburst.co.uk</a> sent via <a href="newsletter@streamburst.tv">newsletter@streamburst.tv</a><br/> 
    <br/></td>
    <td bgcolor="ffffff" class="introText">&nbsp;</td>
  </tr>
  <tr>
    <td><h1>&nbsp;</h1></td>
    <td><h1>Isle of Man TT Races 2007</h1></td>
    <td><h1>&nbsp;</h1></td>
  </tr>
  <tr class="contentBG">
    <td>&nbsp;</td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="content">
        <td><p>Highlights from the Idle of Man TT Races 2007 - featuring fast and furious action from the world-famous Isle of Man TT Mountain Course as competitors battle for glory during the Centenary of this extraordinary road race. </p>
          <p><a href="http://dukevideo.streamburst.tv" target="_blank">Isle of Man TT Races 2007 - Download Store</a></p></td>
        <td><img src="http://www.streamburst.co.uk/images/newsletter/duke01.jpg" alt="Isle of Man TT Races 2007" width="150" height="125"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
    <tr>
    <td><h1>&nbsp;</h1></td>
    <td><h1 align="left">Race To Dakar </h1></td>
    <td><h1>&nbsp;</h1></td>
  </tr>
    <tr class="contentBG">
    <td>&nbsp;</td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="content">
        <td><p>Charley Boorman enters the 2006 Dakar Rally with team mates Simon Pavey and Matt Hall.  The Dakar Rally is considered to be the most dangerous race in the world...</p>
          <p><a href="http://store.racetodakar.com" target="_blank">Race to Dakar - Download Store</a></p></td>
        <td><img src="http://www.streamburst.co.uk/images/newsletter/rtd01.jpg" alt="Race to Dakar" width="150" height="125"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
    <tr>
      <td><h1>&nbsp;</h1></td>
      <td><h1>Long Way Round </h1></td>
      <td><h1>&nbsp;</h1></td>
    </tr>
    <tr class="contentBG">
      <td>&nbsp;</td>
      <td>
	  
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="content">
          <td><p>2 Men... 2 Bikes... 20000 Miles... Ewan McGregor &amp; Charley Boorman...</p>
          <p><a href="http://store.longwayround.com" target="_blank">Long Way Round - Download Store</a></p></td>
          <td><img src="http://www.streamburst.co.uk/images/newsletter/lwr01.jpg" alt="Long Way Round" width="150" height="125"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
	  
	  </td>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td><h1>&nbsp;</h1></td>
      <td><h1>In Search or the Valley </h1></td>
      <td><h1>&nbsp;</h1></td>
    </tr>
    <tr class="contentBG">
      <td>&nbsp;</td>
      <td>
	  
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="content">
          <td><p>In Search of the Valley is the story of three friends' personal journey into the psyche of Silicon Valley, when in September of 2004 they swapped London for California, spending one month visiting and talking to many of the valley's heavyweights and biggest personalities.</p>
          <p><a href="http://isotv.streamburst.tv" target="_blank">In Search of the Valley - Download Store</a></p></td>
          <td><img src="http://www.streamburst.co.uk/images/newsletter/isotv01.jpg" alt="In Search of the Valley" width="150" height="125"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
	  
	  </td>
      <td>&nbsp;</td>
    </tr>
	
	    <tr>
      <td><h1>&nbsp;</h1></td>
      <td><h1>The Missing Face </h1></td>
      <td><h1>&nbsp;</h1></td>
    </tr>
    <tr class="contentBG">
      <td>&nbsp;</td>
      <td>
	  
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="content">
          <td><p>Ewan McGregor and Charley Boorman raise awareness of HIV through the film and generate funds for UNICEF's five year campaign helping children affected by AIDS.  All profits from the download go to the UNICEF campaign.</p>
          <p><a href="http://store.missingface.com" target="_blank">The Missing Face - Download Store</a></p></td>
          <td><img src="http://www.streamburst.co.uk/images/newsletter/mf01.jpg" alt="The Missing Face" width="150" height="125"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
	  
	  </td>
      <td>&nbsp;</td>
    </tr>
	
	    <tr>
      <td><h1>&nbsp;</h1></td>
      <td><h1>Murder or Mutiny </h1></td>
      <td><h1>&nbsp;</h1></td>
    </tr>
    <tr class="contentBG">
      <td>&nbsp;</td>
      <td>
	  
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="content">
          <td><p>Pamela Stephenson and her crew set sail on an intrepid quest to solve the mystery surrounding the disappearance of Pamela's elusive and fascinating great-great grandfather, Salty Sam.</p>
          <p><a href="http://store.murderormutiny.com" target="_blank">Murder or Mutiny - Download Store</a></p></td>
          <td><img src="http://www.streamburst.co.uk/images/newsletter/morm01.jpg" alt="Murder or Mutiny" width="150" height="125"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
	  
	  </td>
      <td>&nbsp;</td>
    </tr>
</table>

<!-- start footer -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td bgcolor="01103b"><img src="http://www.streamburst.co.uk/images/newsletter/SB_Circles.jpg"></td>
  </tr>
</table>
 
</body>
</html>