<%= error_messages_for 'territory' %>

<!--[form:territory]-->
<p><label for="territory_name">Name</label><br/>
<%= text_field 'territory', 'name'  %></p>

<p><label for="territory_country_codes">Country codes</label><br/>
<%= text_field 'territory', 'country_codes'  %></p>
<!--[eoform:territory]-->

