<% for column in Territory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @territory.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @territory %> |
<%= link_to 'Back', :action => 'list' %>
