<% for column in Campaign.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @campaign.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @campaign %> |
<%= link_to 'Back', :action => 'list' %>
