<% for column in Brand.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @brand.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @brand %> |
<%= link_to 'Back', :action => 'list' %>
