<% if @product.categories.count > 0 %>
<table cellpadding="5" cellspacing="0">
<% for category in @product.categories %>
  <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%= category.name %></td>
    <td class="list-actions">
    <%= link_to 'Remove', { :action  => 'remove_category', :category_id => category, :id => @product},
                            :confirm => "Are you sure?",
                            :post    => true %>
    </td>
  </tr>
<% end %>
</table>
<% end %>
