<h1>New torrent</h1>

<%= form_tag( { :action => 'create' }, { :multipart => true }) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
</form>

<%= link_to 'Back', :action => 'list' %>
