<% for column in Torrent.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @torrent.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @torrent %> |
<%= link_to 'Back', :action => 'list' %>
