<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>  
    <title>Race To Dakar - Download Store</title>
    
 	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta http-equiv="Content-Language" content="en">
	<meta name="description" content="Race To Dakar - Download Store">
	<meta name="keywords" content="Race To Dakar, Long Way Round, Long Way Down, Ewan Mcgregor, Charley Boorman">
	<meta name="url" content="http://store.racetodakar.com">
	<meta name="rating" content="Safe For Kids">
	<meta name="revisit-after" content="2 days">
	<meta name="robots" content="all">
	<meta name="distribution" content="global">
	<meta name="author" content="Streamburst Limited">
	<meta name="copyright" content="Copyright © 2007 Streamburst Limited, All Rights Reserved">

    <%= render(:partial => "shared/default_includes") %>       
    <%= stylesheet_link_tag "race_to_dakar", :media => "all" %>
  </head>

  <body id="store" class="bg">
    <%= render(:partial => "shared/body", :locals => {:logo_image => "RTD_Logo.jpg",
                                                      :logo_width => 200,
                                                      :logo_height => 100,
                                                      :tabs => "shared/tabs",
                                                      :analytics_account => "UA-1085096-2"}) %>
  </body>
</html>
